.container{
    display:grid;
    grid-gap: 20px;
        grid-template-areas:
            "nav nav nav"
            "headerId headerId headerId"
            "AI html ex"
            "contact contact contact"
            "footer footer footer";
        padding: 10px;
        margin: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .05fr .25fr 1fr .5fr .05fr;
        
        
}
nav{
    display:flex;
    justify-content:center;
    align-items: center;
    grid-area: nav;
    padding: 20px;
    

}

#headerId{
    background-color: #98a2b1;
    color: white;
    text-align: center;
    grid-area: headerId;
    border-radius: 15px;
    padding-top: 25px;
    margin:10px ;
    

}

#navbar {
    background-color: #e9edef;
    color: rgb(16, 3, 3);
    text-align: center;
    border-radius: 15px;
    font-size: medium;
    
    
}

#AI {
    background-color:#edf0f5;
    color: black;
    border-radius: 15px;
    grid-area: AI;
    text-align: left;
    margin-top: 2px;
    padding:20px;
}
#html {
    background-color:#edf0f5;
    color: black;
    border-radius: 15px;
    grid-area: html;
    text-align: left;
    margin-top: 2px;
    padding:20px;
}
#ex {
    background-color: #edf0f5;
    color: black;
    grid-area: ex;
    border-radius: 15px;
    text-align: left;
    margin-top: 2px;
    padding:20px;
}

#contact {
    
    background-color: #e2e5ea;
    color: black;
    border-radius: 15px;
    grid-area: contact;
    text-align: left;
    padding-left:20px;
    padding-bottom: 5px;
    
}
.certPic {

    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #98a2b1;
    color: white;
    text-align: center;
    grid-area: footer;
    padding-top:29px;
    border-radius: 15px;
}
*{
    
    text-decoration: none;
    font-family: "Vidaloka"  ;
    
}
h2{
    text-align: center;
}
p{
    font-size: 19px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-areas:
            "nav"
            "headerId"
            "AI"
            "html"
            "ex"
            "contact"
            "footer";
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    

    h1{
        font-size: 1.55rem;
    }
    h2{
        font-size: 1.25rem;
    }
    p{
        font-size: 1.05rem;
    }

}

@media screen and (max-width: 992px) {
    .container {
        grid-template-areas:
            "nav nav"
            "headerId headerId"
            "AI AI"
            "html html"
            "ex ex"
            "contact contact"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
    

    

    h1{
        font-size: 1.95rem;
    }
    h2{
        font-size: 1.55rem;
    }
    p{
        font-size: 1.45rem;
    }

    
}