/*.container{





kjhgfdsadfghjklhgfdsdfgh
lkjhgfdsa

HGFDSA

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr .75fr .75fr .75fr ;
    grid-gap: 10px;
    grid-template-areas: "navbar navbar navbar"
                        "header header header"
                        "db ddl se"
                        "contact contact contact"
                        "footer footer footer";
    padding: 20px;
    margin: 10px;

}

#header{
    background-color: rgb(55, 103, 224);
    height: 75px;
    color: white;
    text-align: center;
    grid-area: header;
    min-width: 77px;

}
#navbar{
    background-color:rgb(87, 10, 21) ;
    height: 65px;
    color: white;
    text-align: center;
    grid-area: navbar;
    padding: 8px;
    min-width: 77px;

}
#se{
    background-color:rgb(197, 192, 192);
    color: black;
    text-align: center;
    grid-area: se;
    min-width: 77px;

}
#ddl{
    background-color:rgb(197, 192, 192);
    color: black;
    text-align: center;
    grid-area: ddl;
    min-width: 77px;

}
#db{
    background-color:rgb(197, 192, 192);
    color: black;
    text-align: center;
    grid-area: db;
    min-width: 77px;

}
#contact{
    background-color:rgb(197, 192, 192);
    color: black;
    text-align: center;
    grid-area: contact;
    min-width: 77px;

}
footer{
    background-color: rgb(36, 35, 35);
    height: 65px;
    color: white;
    text-align: center;
    grid-area: footer;
    min-width: 77px;

}
    */


    .container {
        display: grid;
        grid-gap: 20px;
        grid-template-areas:
            "navbar navbar navbar"
            "header header header"
            "db ddl se"
            "contact contact contact"
            "footer footer footer";
        padding: 8px;
        margin: 5px;
        
    }
    
    #header {
        background-color: #525a67;
        color: white;
        text-align: center;
        grid-area: header;
        border-radius: 15px;
    }
    
    #navbar {
        background-color: #e9edef;
        color: rgb(16, 3, 3);
        text-align: center;
        grid-area: navbar;
        padding: 8px;
        font-size: .95rem;
        border-radius: 15px;
        
    }
    #db {
        background-color:#9a9ead;
        color: black;
        grid-area: db;
        border-radius: 15px;
        text-align: center;
    }
    #ddl {
        background-color:#9a9ead;
        color: black;
        border-radius: 15px;


        grid-area: ddl;
        text-align: center;
    }
    #se {
        background-color: #9a9ead;
        color: black;
        grid-area: se;
        border-radius: 15px;
        text-align: center;
    }

    #contact {
        text-align: left;
        background-color: #e2e5ea;
        color: black;
        border-radius: 15px;
        grid-area: contact;
        text-align: left;
        
    }
    
    footer {
        background-color: #525a67;
        color: white;
        text-align: center;
        grid-area: footer;
        padding-top:29px;
        border-radius: 15px;
        text-align: center;
    }
    *{
        
        text-decoration: none;
        font-family: "Vidaloka" serif;
        
    }
    #contact,#se,#ddl,#db{
        padding: 10px;
        font-size: 1.rem;

    }
    

    @media screen and (max-width:768px){
        
    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-areas:
            "navbar"
            "header"
            "db"
            "ddl"
            "se"
            "contact"
            "footer";
        padding: 8px;
        margin: 5px;
        
    }
    
    #header {
        background-color: #525a67;
        color: white;
        text-align: center;
        grid-area: header;
        border-radius: 15px;
    }
    
    #navbar {
        background-color: #e9edef;
        color: rgb(16, 3, 3);
        text-align: center;
        grid-area: navbar;
        padding: 8px;
        font-size: .75rem;
        border-radius: 15px;
        
    }
    #db {
        background-color:#9a9ead;
        color: black;
        grid-area: db;
        border-radius: 15px;
        text-align: center;
    }
    #ddl {
        background-color:#9a9ead;
        color: black;
        border-radius: 15px;
        grid-area: ddl;
        text-align: center;
    }
    #se {
        background-color: #9a9ead;
        color: black;
        grid-area: se;
        border-radius: 15px;
        text-align: center;
    }

    #contact {
        text-align: left;
        background-color: #e2e5ea;
        color: black;
        border-radius: 15px;
        grid-area: contact;
        text-align: left;
        
    }
    
    footer {
        background-color: #525a67;
        color: white;
        text-align: center;
        grid-area: footer;
        padding-top:29px;
        border-radius: 15px;
        text-align: center;
    }
    *{
        
        text-decoration: none;
        font-family: "Vidaloka" serif;
        
    }
    #contact,#se,#ddl,#db{
        padding: 10px;
        font-size: .95rem;

    }
    h1{
        font-size: 2.05rem;
    }
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: 1.0rem;
    }
    }